einops==0.8.0
imageio==2.35.1
jaxtyping==0.2.34
kornia==0.7.3
loguru==0.7.2
lpips==0.1.4
matplotlib==3.9.2
model==0.6.0
nerfview==0.0.3
numpy==2.1.2
open3d==0.18.0
opencv_python==4.10.0.84
Pillow==10.4.0
plyfile==1.1
rich==13.9.2
scipy==1.14.1
setuptools==72.1.0
skimage==0.0
splines==0.3.2
structures==0.9.5
torch==2.2.1+cu121
torchvision==0.17.1+cu121
torchviz==0.0.2
tqdm==4.66.5
viser==0.2.9
git+https://github.com/ingra14m/depth-diff-gaussian-rasterization.git